@model Transactions.Models.MahasiswaModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MahasiswaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nama
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            NRP
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nrp)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Jurusan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jurusan)
        </dd>
        <dt>
            Nama Dosen Wali
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nama_dosen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
